*{
    margin: 0 auto;
    padding: 0;
    font-family: 'Work Sans', sans-serif;
}

.header-container{
    background-color: rgba(255, 144, 14, 10%);
    padding-top: 63px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 50px;
    background-color: rgba(255, 144, 14, 10%);
}

.menu>ul{
    list-style: none;
    display: flex;
}

.menu>ul>li{
    margin-left: 50px;
    font-size: 18px;
    font-weight: 500;
}

.logo>h2{
    font-size: 45px;
    font-weight: 700;
}

.banner-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.banner-info>h1{
    text-align: center;
    font-size: 64px;
    font-weight: 700;
    margin-bottom: 20px;
}

.banner-info>p{
    font-size: 16px;
    color: #727272;
    text-align: center;
    line-height: 26px;
}

.btn-primary{
    width: 180px;
    height: 64px;
    background-color: #FF900E;
    border: none;
    border-radius: 5px;
    font-size: 20px;
    font-weight: 600;
    justify-content: center;
    margin-top: 32px;
    margin-bottom: 50px;
}

.btn-primary a{
    color: #fff;
    text-decoration: none;
}

.banner-img{
    margin-bottom: 45px;
}

.banner-img>img{
    width: 100%;
    border-radius: 8px;
}

.quickListFeature{
    display: flex;
    margin: 85px 50px;
    justify-content: space-evenly;
    align-items: center;
}

.quickListGalaryContainer{
    display: grid;
    gap: 15px;
    grid-template-columns: repeat(2, 342px);
}

.galaries{
   width: 100%;
}

.galaries>img{
    width: 100%;
}

.quickListInfo{
    text-align: left;
    margin-left: 73px;
}

.quick-list{
    color: rgba(114, 114, 114, 100%);
    font-size: 45px;
    font-weight: 500;
}

.quickListInfo>h2{
    font-size: 45px;
    font-weight: 600px;
    color: #131313;
    margin-bottom: 24px;
}

.features{
    color: #FF900E;
    font-size: 45px;
    font-weight: 600px;
}

.quickListInfo>p{
    font-size: 16px;
    color: #727272;
    line-height: 26px;
    font-weight: 400;
}

.main-feature{
    display: flex;
    justify-content: center;
    margin: 130px 50px;
}

.main-feature-info{
    margin-right: 73px;
    width: 586px;
    height: 982px;
}

.main-feature-title>h1{
    border-left: 5px solid orange;
    padding-left: 20px;
    color: #131313;
    font-size: 45px;
    font-weight: 700;
    margin-bottom: 24px;
}

.main-feature-title>p{
    color: #727272;
    font-size: 16px;
    line-height: 26px;
    font-weight: 400;
}

.feature-item{
    background: #FFFFFF;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.06);
    border-radius: 8px;
    margin-top: 20px;
    padding: 30px;
    width: 514px;
    height: 111px;
}

.feature-item>h1{
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
}

.feature-item>p{
    color: #727272;
    font-size: 16px;
    line-height: 24px;
}



.main-feature-photo{
    margin-left: 73px;
    position: relative;
}

.main-feature-photo>img{
    width: 100%;
}

.btn-primary-2{
    width: 342px;
    height: 200px;
    background-color: #FF900E;
    border: none;
    border-radius: 5px;
    position: absolute;
    top: 85%;
    left: -80%;
    right: 0;
    bottom: 0;
    
}

.btn-primary-2 .btn-10year{
    color: #fff;
    text-decoration: none;
    text-align: center;
    font-size: 65px;
    font-weight: 700;
    margin-bottom: 70px;
}

.btn-primary-2 .btn-experience{
    font-size: 25px;
    font-weight: 500;
    color: #fff;
    text-decoration: none;
    text-align: center;
}

.some-facts{
    margin-bottom: 180px;
}
.some-facts-info{
    margin: 130px 100px;
}

.some-facts-info>h1{
    margin-bottom: 24px;
    font-weight: 700;
    font-size: 45px;
    color: #131313;
}

.some-facts-info>p{
    margin-bottom: 100px;
    font-weight: 400;
    font-size: 16px;
    color: #727272;
}

.some-facts-container{
    display: flex;
    justify-content: space-between;
    margin: 0px 100px;
}

.some-facts-item{
    width: 169px;
    height: 136px;
    padding: 45px 35px;
    border: 1px solid #FF900E;
    border-radius: 8px;
    text-align: center;
    line-height: 40px;
}

.some-facts-item>h2{
    font-weight: 600;
    font-size: 45px;
    color: #424242;
}

.some-facts-item>p{
    font-weight: 600;
    font-size: 20px;
    color: #727272;
}
.sponsors{
    margin-bottom: 130px;
}

.sponsors-info{
    text-align: center;
}

.sponsors-info>h1{
    font-weight: 700;
    font-size: 45px;
    margin-bottom: 24px;
}

.sponsors-info>p{
    color: #727272;
    font-weight: 400;
    font-size: 16px;
    margin-bottom: 50px;
}

.sponsors-item-container{
    display: flex;
    filter: grayscale(100%);
}

.footer-container{
    width: 1440px;
    height: 100px;
    background: #FFF4E7;
    border-radius: 8px;
    display: flex;
    align-items: center;
}

.footer-container>p{
    font-weight: 400;
    font-size: 20px;
    text-align: center;
    color: #424242;
}
